Exercise 1

In [11]:
def indexes(word, char):
  ''' (str, str) -> list
  Returns a list of indices where char
  is present in word. '''
  store=[]

  for i in range(len(word)):
    if word[i]==char:
      store.append(i)
  return store

word=input("Enter a word: ")
char=input("enter a character in the word: ")
indexes(word, char)

Enter a word: mississippi
enter a character in the word: a

[]

Exercise 2

In [14]:
def doubles(lst):
  '''(list) -> int
  Returns integers that from lst that
  are twice the previous integers. '''

  for i in range(len(lst)-1):
    if lst[i]*2==lst[i+1]:
      print(lst[i+1])

doubles([3,0,1,2,3,6,2,4,5,6,5])

2
6
4

Exercise 3

In [23]:
def four_letter(lst_words):
  '''(list) -> list
  Returns a list of words from lst_words
  that are four-lettered.'''

  new_lst=[]
  for i in lst_words:
    if len(i)==4:
      new_lst.append(i)
  return new_lst

four_letter(['dog','letter','stop','door','bus','dust'])

['stop', 'door', 'dust']

Exercise 4

In [26]:
def inBoth(lst1, lst2):
  '''(list1, list2) -> Bool
  Returns True if any element in lst 1 
  is also in lst 2. False Otherwise. '''

  for i in lst1:
    if i in lst2:
      return True
    else:
      return False

inBoth([2,2,5,4,7],[9,0,1,3])

False

Exercise 5

In [28]:
def intersect(lst1, lst2):
  '''(list1, list2) -> list
  Returns a list that intersects
  lst1 and lst2. '''

  lst3=[]
  for i in lst1:
    if i in lst2:
      lst3.append(i)
  return lst3

intersect([3,5,6,7,9],[4,2,6,3,9])

[3, 6, 9]

Exercise 6

In [29]:
def pair(lst1, lst2, n):
  '''(list,list,int) -> int
  Returns a pair of integers from
  lst1 and lst2 that add to n. '''

  for i in lst1:
    for j in lst2:
      if i+j==9:
        print(i,j) 

pair([2,3,4],[5,7,9,12],9)

2 7
4 5

Exercise 7

In [41]:
def last_first(name_lst):
  '''(list) -> list
  Returns a first name and last
  name list from name_lst. '''

  first_name=[]
  last_name=[]
  for i in name_lst:
    split_list=i.split(",")
    first_name.append(split_list[1])
    last_name.append(split_list[0])
  return [first_name,last_name]

last_first(['Gerber, Len','Fox, Kate', 'Dunn, Bob'])

[[' Len', ' Kate', ' Bob'], ['Gerber', 'Fox', 'Dunn']]

Exercise 8

In [44]:
def subsetSum(lst, n):
  '''(list,int) -> Bool
  Returns True if the sum of any three
  integers in lst adds to n. '''

  for i in lst:
    for j in lst[1:]:
      for k in lst[2:]:
        if i+j+k==n:
          return True
  return False

subsetSum([5,4,10,20,15,19],10)

False

Exercise 9

In [53]:
def mystery(n):
  '''(int) -> int
  Returns number of times n
  can be halved before reaching 1. '''

  res=n//2
  for i in range(2,n+2):
    res=res//2
    if res == 1:
      return i

mystery(25)

4

Exercise 10

In [59]:
def inversions(sequence):
  '''(str) -> int
  Returns the number of inversions
  in sequence. '''

  count=0
  for i in range(len(sequence)):
    for j in sequence[i:]:
      if ord(sequence[i])>ord(j):
        count+=1
  return count

inversions("DCBA")

6

Exercise 11

In [101]:
def sublist(lst1, lst2):
  '''(list,list) -> Bool
  Returns True if lst1 is a sublist
  of lst2. False otherwise. '''

  count=0
  for i in range(len(lst1)-1):
    if (lst2.index(lst1[i])<lst2.index(lst1[i+1])):
      count+=1
  if count==len(lst1)-1:
    return True
  return False


sublist([15,50,20],[20,15,30,50,1,100])

False