# Lab 8

# Exercise 0

In [1]:
# programming exercise  0
import random
def make_matrix_random(a, b, x, y):
  '''(int,int,int,int)->2D list
  Returns a 2D list representing a matrix with a rows and b columns
  filled with random integers >=x and <=y
  Precondition: a,b positive and x <=y
  '''
  newList = [] # setting new list of lists
  for rows in range(a): # in range of rows
    rowList=[] # list initialized inside loop to make the rows empty each time
    for cols in range(b):
      rowList.append(random.randint(x,y)) # appending a random number between x and y
    newList.append(rowList)

  return newList

In [2]:
print(make_matrix_random(3, 5, 0, 10))  # the function should have randomness, thus no expecting result
print(make_matrix_random(2, 4, 10, 20)) # the function should have randomness, thus no expecting result
print(make_matrix_random(5, 3, 0, 10))  # the function should have randomness, thus no expecting result

[[1, 1, 6, 8, 2], [9, 0, 1, 10, 7], [9, 0, 10, 9, 8]]
[[20, 19, 13, 13], [16, 13, 17, 14]]
[[4, 7, 4], [3, 3, 6], [0, 4, 9], [2, 4, 3], [5, 3, 1]]

# Exercise 1

In [ ]:
# programming exercise  1
def sum_above_diagonal(m):
  '''(2D list)->number
  Returns the sum of the elements of the matarix m that are on or about the diagonal of m
  (for clarification see the slide entitled: Details about Prog Ex 2)
  Precondition: m is a square matrix filled with numbers
     
  >>> sum_above_diagonal([[1,2],[10,20]] )
  23
  '''

  sum=0
  for rows in range(len(m)):
    for cols in range(len(m[0])):
      if rows<=cols:
        sum+=m[rows][cols]
  return sum

In [ ]:
print(sum_above_diagonal([[6, 2, 0, 6, 1], [6, 8, 2, 5, 8], [0, 6, 3, 2, 3]])) #Excepting 46
print(sum_above_diagonal([[11, 11, 16, 11], [15, 11, 16, 11]])) #Excepting 87
print(sum_above_diagonal([[7, 3, 6], [5, 8, 2], [6, 8, 6], [4, 3, 1], [10, 7, 9]])) #Excepting 32
print(sum_above_diagonal([[1,2],[10,20]])) #Excepting 23

46
87
32
23

# Exercise 2

In [3]:
# programming exercise  2
def max_over_all_even_cols(m):
  '''(2D list)->number
  Returns the maximum element among all the numbers that are in even columns of m
  i.e the maximum element amoung all elements in 0th, 2th, 4th etc. column
  Precondition: m is a matrix filled with numbers with at least 1 row and 1 column
     
  >>> max_over_all_even_cols([[1,1,1,1,1,1,1],[1,10,3,20,12,6,0]])
  12
  '''

  max=0
  for rows in range(len(m)):
    for cols in range(0,len(m[0]),2):
      if m[rows][cols]>max:
        max=m[rows][cols]
  return max

In [4]:
print(max_over_all_even_cols([[1,1,1,1,1,1,1],[1,10,3,20,12,6,0]])) # Expecting 12
print(max_over_all_even_cols([[1,2,1,2,1,2,1],[1,10,20,2,12,6,0]])) # Expecting 20

12
20

# Exercise 3

In [5]:
#programming exercise 3
def max_each_row(m):
  '''(2D list)->list
  Returns a list where in position p of the list is the max number among all the numebrs of p-th row of m
  Precondition: m is a matrix filled with numbers

  >>> max_each_row([[1,2],[200,0],[3,3],[-10,-20]])
  [2, 200, 3, -10]
  '''

  newLst=[]
  for rows in range(len(m)):
    newLst.append(max(m[rows]))
  return newLst

In [6]:
print(max_each_row([[1,2],[200,0],[3,3],[-10,-20]])) # Expecting [2, 200, 3, -10]
print(max_each_row([[100,2],[-200,0],[3,6],[-10,-20]])) # Expecting [100, 0, 6, -10]
print(max_each_row([[1,2, 3],[10,20,56, 78],[3,2],[-20]])) # Expecting [3, 78, 3, -20]

[2, 200, 3, -10]
[100, 0, 6, -10]
[3, 78, 3, -20]

# Exercise 4

In [9]:
# programming exercise  4
def index_of_max_sum_row(m):
  '''(2D list)->int
  Returns the index of a row that has the largest sum of all the rows
  Precondition: m is a matrix filled with numbers
  >>> index_of_max_sum_row([[100,100], [-100,0], [200,30], [1,2]])
  2
  >>> index_of_max_sum_row([[100,100], [-100,0], [200,30], [10000,2]])
  3
  '''

  max_index=0
  max_row_sum=float("-inf")
  for rows in range(len(m)):
    sum=0
    for cols in range(len(m[0])):
      sum+=m[rows][cols]
    if sum > max_row_sum:
      max_row_sum=sum
      max_index=rows
  return max_index

In [10]:
print(index_of_max_sum_row([[100,100], [-100,0], [200,30], [1,2]])) # Expecting 2
print(index_of_max_sum_row([[100,100], [-100,0], [200,30], [10000,2]])) # Expecting 3

2
3

#Exercise 5

In [17]:
# checks if matrix is square (n x n)
def is_square(m):
  '''(2D List)-> Bool
  Returns True if m is a square matrix.'''

  return len(m)==len(m[0]) # returns True if square. False otherwise.


# checks if all elements are from 1 to less than n^2
def elements(m):
  '''(2D List) -> Bool
  Returns True if all elements are 1,2,n^2.
  False otherwise. '''

  for i in range(len(m)):
    for j in range(len(m[0])):
      if m[i][j] >= 1 and m[i][j] <= (len(m)**2):
        return True
  return False # if not, return False


# main function to check if rows, columns and diagnols add to same number
def magic(m):
  '''2D list->bool
  Returns True if m forms a magic square
  Precondition: m is a matrix with at least 2 rows and 2 columns '''

  diag_sum=0
  col_sum=0
  row_sum=sum(m[0])

  if elements(m) == True and is_square(m) == True: # if matrix is square and has all proper elements
    for rows in range(len(m)):
      if sum(m[rows])!=row_sum: # all rows must have same sum. If not, False
        return False
      for cols in range(len(m[0])):
        col_sum+=m[rows][cols] # adding col values
        if rows==cols: # if diagnol, sum all values
          diag_sum+=m[rows][cols]

    # checks if col and diagnol sum != to row sum. If it does, then return False
    if col_sum // len(m[0])!=row_sum or diag_sum!=row_sum: 
      return False
    else:
      return True
  else: # if not a square matrix and does not have all proper elements
    return False

In [18]:
# main
# TESTING OF magic functions
# this should print True

m0=[[2,7, 6],[9,5,1],[4,3,8]]
print(magic(m0))
    
# this should print True
m1 = [[16,3,2,13], [5,10,11,8],[9,6,7,12], [4,15,14,1]]
print(magic(m1))
    
# this should print False. Why? Which condition imposed on magic squares is not true for m3
m2 = [[1,2,3,4], [5,6,7,8],[9,10,11,12], [13,14,15,16]]
print(magic(m2))
    
#this should print False. Why? Which condition imposed on magic squares is not true for m3
m3 =  [[1,1],[1,1]]
print(magic(m3))

# #this should print False. Why? Which condition imposed on magic squares is not 
m4 =  [[1,1],[1,1],[1,2]]
print(magic(m4))

True
True
False
True
False

# Exercise 6

In [19]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [102]:
def create_books_2Dlist(file_name):
  '''(None)->2D list
  Returns a assorted list of lists from
  file_name.'''
  
  newLst=[]
  data_path='/content/drive/My Drive/ITI1120/Lab8/'
  file_open=open(data_path+file_name).read().splitlines()
  
  for data in file_open:
    data=data.split("\t")
    title=data[0].strip()
    author=data[1].strip()
    publish=data[2].strip()
    if len(data[3])==9: # reformatting date
      final_date = data[3][5:9] + "-0" + data[3][0] + "-" + data[3][2:4]
    elif len(data[3])==10:
      final_date = data[3][6:10] + "-" + data[3][:2] + "-" + data[3][3:5]
    category=data[4].strip()
    print()
    newLst.append([final_date,title,author,publish,category])
  return newLst

In [104]:
books=create_books_2Dlist('NYT_short.txt')
print(books)

[['1976-04-11', '1876', 'Gore Vidal', 'Random House', 'Fiction'], ['2011-11-27', '23337', 'Stephen King', 'Scribner', 'Fiction'], ['2011-11-27', '...and Ladies of the Club', 'Helen Hooven Santmeyer', 'Putnam', 'Fiction'], ['2001-03-25', '1st to Die', 'James Patterson', 'Little, Brown', 'Fiction'], ['2002-03-24', '2nd Chance', 'James Patterson', 'Little, Brown', 'Fiction'], ['2004-03-21', '3rd Degree', 'James Patterson', 'Little, Brown', 'Fiction'], ['2005-05-22', '4th of July', 'James Patterson', 'Little, Brown', 'Fiction'], ['2005-05-22', '61 Hours', 'Lee Child', 'Delacorte', 'Fiction'], ['2005-10-16', 'A Breath of Snow and Ashes', 'Diana Gabaldon', 'Delacorte', 'Fiction'], ['2001-04-29', 'A Common Life', 'Jan Karon', 'Viking', 'Fiction'], ['2011-07-31', 'A Dance With Dragons', 'George R. R. Martin', 'Bantam', 'Fiction'], ['2011-07-31', 'A Day Late and a Dollar Short', 'Terry McMillan', 'Viking', 'Fiction'], ['2005-11-27', 'A Feast For Crows', 'George R. R. Martin', 'Bantam', 'Fiction'], ['2005-11-27', 'A Lion Is In the Streets', 'Adria Locke Langley', 'McGraw', 'Fiction'], ['1998-11-22', 'A Man In Full', 'Tom Wolfe', 'Farrar, Straus & Giroux', 'Fiction'], ['2001-02-25', 'A Painted House', 'John Grisham', 'Doubleday', 'Fiction']]

In [105]:
def search_by_year(books, year1, year2):
  '''(2D list)->None'''
  
  count=0 
  print("\nAll titles between "+str(year1)+" and "+str(year2)+":\n")
  for i in books:
    if int(i[0][:4])>=year1 and int(i[0][:4])<=year2:
      print(i[1]+", by "+i[2]+" ("+i[0]+")")
    else:
      count+=1
  
  if count==len(books):
    print("no books")

In [106]:
print(search_by_year(books, 2005, 2005))
print(search_by_year(books, 1945, 1999))
print(search_by_year(books, 2016, 2017))

All titles between 2005 and 2005:

4th of July, by James Patterson (2005-05-22)
61 Hours, by Lee Child (2005-05-22)
A Breath of Snow and Ashes, by Diana Gabaldon (2005-10-16)
A Feast For Crows, by George R. R. Martin (2005-11-27)
A Lion Is In the Streets, by Adria Locke Langley (2005-11-27)
None

All titles between 1945 and 1999:

1876, by Gore Vidal (1976-04-11)
A Man In Full, by Tom Wolfe (1998-11-22)
None

All titles between 2016 and 2017:

no books
None

# Extra Exercise

In [119]:
import copy

def move_zeros_with_return(lst):
  '''lst -> lst
  Returns a new list where the zeros of the given list lst
  are placed to the end (without change the relative order of other numbers)

  Precondtion: lst is a list of numbers '''

  tmp=copy.deepcopy(lst)
  for i in range(len(tmp)):
    if tmp[i]==0:
      tmp.remove(0)
      tmp.append(0)

In [120]:
x = [1, 0, 3, 0, 0, 5, 7] 
#print(x)
y=move_zeros_with_return(x)
print(x,y)

#note that if we made a call like this
# x would change, or rather refer to a list with zeros moved
#x=move_zeros_with_return(x) 
#print(x)

[1, 0, 3, 0, 0, 5, 7] None

In [121]:
def move_zeros_extra_list_no_return(lst):
  '''lst -> None
  moves zeros of the given list lst to the end (without change the relative order of other numbers)
  Precondtion: lst is a list of numbers
  '''
  for i in range(len(lst)):
    if lst[i]==0:
      lst.remove(0)
      lst.append(0)
  print("This is lst: ",lst)

In [123]:
x = [1, 0, 3, 0, 0, 5, 7] 
#print(x)
move_zeros_extra_list_no_return(x)
print(x)

This is lst:  [1, 3, 5, 7, 0, 0, 0]
[1, 3, 5, 7, 0, 0, 0]

In [ ]:
def move_zeros_in_place(lst):
  '''lst -> None
  moves zeros of the given list lst to the end (but it may change the relative order of other numbers)
  Precondtion: lst is a list of numbers
  '''

In [ ]:
x = [1, 0, 3, 0, 0, 5, 7] 
print(x)
move_zeros_in_place(x)
print(x)